body{
    background-color:#151515 ;
}
.title_bar{
    color: #D9D9D9;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
div#social_media_icons{
   padding: 10px;
}
h3#title_name{
    margin-right: 59%;
}

.fa-brands{
    margin-right: 10%;
    font-size: 100%;
}
section{
    margin: 0 10% 0 10%;
}
hr{
    margin: 0 10% 0 10%;
}
section.about{
   display: grid;
   grid-template-columns: 1fr 1fr;
   color:#D9D9D9;
}
div.intro_text{
    margin-right: -40px;
}
#intro_text{
    position: absolute;
    font-size: 4em;
    width: 100%;
    z-index: 2;
}
img#display_dp{
margin-top: -16%;
margin-left: 20%;
z-index: -1;
}
p#intro_final{
    position: inherit;
    margin-top: 12%;
}

div#contact_underline{
    background-color: #4EE1A0;
    height: 2px;
    width: 33%;
}
span#u{
    border-bottom:4px solid #4EE1A0;
}

div.background-rings ,  div.background-rings2 ,
div.background-rings3 {
    border: 2px solid #D9D9D9 ;
    background-color:#151515 ;
    height: 20%;
    width: 70%;
    margin-bottom: 4%;
    z-index: -4;
    border-radius: 50%;
    margin-left: -38%;
}



div.background-rings:nth-of-type(1){
    
    opacity: 0.5;
}
div.background-rings:nth-of-type(2){
    margin-top: -28%;
    opacity:0.5;
}
div.background-rings:nth-of-type(3){
   margin-top: -18%;
   opacity:0.5;
}
div.background-rings:nth-of-type(4){
    margin-top: -20%;
    opacity: 0.5;
}
div.background-rings:nth-of-type(5){
    margin-top:-22% ;
    opacity:0.5;
}
section.skills{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.skill-column{
    display: flex;
    flex-direction: column;
    color:#D9D9D9;
}

div.background-rings2 {
    position: absolute;
    height: 10%;
    right: -48%;
}

div.background-rings2:nth-of-type(5){
margin-top: 14%;
opacity: 0.5;
}
div.background-rings2:nth-of-type(4){
    margin-top: 13%;
    opacity: 0.5;
 }
 div.background-rings2:nth-of-type(3){
    margin-top: 12%;
    opacity: 0.5;
}
div.background-rings2:nth-of-type(2){
    margin-top: 11%;
    opacity: 0.5;
}
div.background-rings2:nth-of-type(1){
    margin-top: 10%;
    opacity: 0.5;
}
div#projects-title-bar{
    color: #D9D9D9;
    margin:0 10% 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1#project_title{
    margin-right: 60%;
    font-size: 2em;
}

section.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2%;
    color: #D9D9D9;
    margin-bottom: 15%;
}
div.project-box{
    display: flex;
    flex-direction: column;
}

img.project-images{
    height: 100%;
    width: 100%;
}
div.footer{
    background-color: #242424;
}
section.contact-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #D9D9D9;
}
h1#contact_title, p#contact_intro{
    position: absolute;
    z-index: 10;
}
#contact_intro{
    margin-top: 5%;
}
input, textarea{
    width: 100%;
    background-color: #242424;
    border: none;
    border-bottom: 2px solid #D9D9D9;
}
input:focus , input:focus-within , input::target-text{
    background-color: #242424;
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #242424 inset !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
}

button[type="submit"]{
   background-color: #242424;
   margin-bottom: 5%;
   border:none;
   float: right;
}

button[type="submit"]:hover{
    color : #4EE1A0;
}

label{
    display: block;   
}

.error input , #error{
    border-color: #ff3806;
    color : red;
}

.success input {
    border-color:#4EE1A0 ;
    background-color: #242424;
    color: white;
}
#error{
    float: right;
}

div.background-rings3{
    
    background-color: #242424;
    margin-left: -45%;
    margin-top: 30%;
}

div.background-rings3:nth-of-type(1){
  z-index: 0;
  opacity: 0.5;
}
div.background-rings3:nth-of-type(2){
    
    margin-top: -15%;
    opacity: 0.5;
 }
 div.background-rings3:nth-of-type(3){
    margin-top: -15%;
    opacity: 0.5;
 }
 div.background-rings3:nth-of-type(4){
    margin-top: -15%;
    opacity: 0.5;
  }
  div.background-rings3:nth-of-type(5){
    margin-top: -15%;
    opacity: 0.5;
  }
 
  .warning-icon{
    font-size: 2em;
    position: absolute;
    justify-content: end;
    color: red;
    left: 85%;
    display: none;
  }

  .Overlay-left{
    text-align: center;
    padding: 10%;
    background-color: #242424;
    position: absolute;
    width: 38.5%;
    height: 43%;
    opacity: 0;
  }
  .Overlay-right{
    text-align: center;
    padding: 10%;
    background-color: #242424;
    position: absolute;
    width: 38.5%;
    height: 43%;
    opacity: 0;

  }
  
  .Overlay-left:hover, .Overlay-right:hover{
    cursor: pointer;
    opacity: 0.9;
  }

  .overlay-word{
    margin-bottom: 15%;
  }


@media  screen and (min-width: 1025px)  {
  /*Desktops , large Screens*/
  .sass2{
    display: none;
  }

  .Overlay-left, .Overlay-right{
    height: 58%;
   }

    
}




@media only screen  and ( max-width: 1024px)and (min-width: 769px) {
    /*Small screens , laptops*/
    .sass2{
        display: none;
    }

}

@media only screen  and (max-width: 768px){
/*Tablets  */

h3#title_name{
    margin-right: 25%;
    font-size: 1.8em;
}

div.intro_text{
    margin-right: -20px;
}
#intro_text{
    position: absolute;
    font-size: 2em;
    width: 100%;
    z-index: 2;
}
p#intro_final{
    position: inherit;
    margin-top: 20%;
    font-size: 0.6em;
}
h3#contactme{
    font-size: 1.2em;
}
div#contact_underline{
    background-color: #4EE1A0;
    height: 2px;
    width: 50%;
}

section.skills{
    
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8em;
}

h1#skill{
    font-size: 1.5em;
}

.sass1{
    display: none;
}

.project-description{
font-size: 0.8em;
}

#footer-contact-call{
    font-size: 0.7em;
    margin-left: -10%;
}
.Overlay-left , .Overlay-right{
    height: 23%;
}

h4.link{
    font-size: 0.8em;
}

section.contact-section{
    display: grid;
    grid-template-columns: 1fr;
}

p#contact_intro{
    margin-bottom: 10%;
}

form#form{
    margin-top:30%;
}
div.background-rings3{
    display: none;
}

#contact_intro{
    margin-top: 9%;
}



@media only screen  and (max-width: 480px)and (min-width: 320px) {
   /*Mobile Devices*/
   .title_bar{
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
   }
   #title_name{
    margin: 0 auto;
   }
   section.about{
    display: grid;
    grid-template-columns: 1fr;
   }
   .intro_text{
    margin-bottom: -335%;
   display: block;
   text-align: center;
   }

   p#intro_final{
    font-size: 1em;
   }
   h1#intro_text2{
    font-size: x-large;
    text-align: center;

   }

   div#contact_underline{
    margin: 0 auto;
    margin-bottom: 5%;
   }
   h1#intro_text{
    display: none;
   }
   .intro_image{
    display: initial;
    z-index: 0;
    margin-left:-23%;
   }

   section.skills{
    margin-top: 60%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
   }

   div.background-rings{
    margin-top: 58%;
    height: 8%;
    z-index: -100;
   }
   div#social_media_icons{
   z-index: 3;
   }

   hr{
      display: none;
   }

   div#after-form-line{
    margin-top: 4%;
    background-color: #D9D9D9;
    height: 2px;
    border-bottom: #D9D9D9;
    margin: 0 4% 0 4%;
    
   }

   h1#project_title{
    margin-right: 40%;
   }

   section.projects{
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 55%;
   }
   
   #contact_intro{
    margin-top: 20%;
}

form#form{
    margin-top:70%;
    
}

div#bottom_footer{
    
    
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    padding:10%;
}

 .Overlay-left, .Overlay-right{
    width:  75%;
    height: 38%;
}
}
}